.post-navigation {
    border: 1px solid #e5e5e5;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
}
.post-navigation .col{
    padding: 20px;
}
.post-navigation .col:not(:last-of-type){
    border-right: 1px solid rgba(17,17,17,0.04);
}
.post-navigation .col a{
    color: #263a4f;
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Work Sans",sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.post-navigation .col.next-post a{
    justify-content: flex-end;
}
.post-navigation .col i{
    display: inline-block;
    font-size: 14px;
}
.post-navigation .ti-arrow-left{
    margin-right: 10px;
}
.post-navigation .ti-arrow-right{
    margin-left: 10px;
}
.post-navigation .col a:hover{
    color: #2550de;
}
.post-navigation .col.prev-post .fa{
    margin-right: 10px;
}
.post-navigation .col.next-post .fa{
    margin-left: 10px;
}
