.feature-section{
    padding-bottom: 80px;
}
.feature-wrap{
    display: flex;
    align-items: center;
} 
.feature-content{}
.section-heading{}
.feature-content h2{
    font-size: 36px;
    margin-bottom: 20px;
}
.feature-content h2 span{
    color: #111;
}
.feature-content p{
    margin-bottom: 30px;
}
.play-btn{
    display: flex;
    align-items: center;
    
}
.play-btn:hover{
    opacity: 0.8;
}
.play-btn i{
    font-size: 50px;
    color: #007bff;
    display: flex;
    align-items: center;
    
}
.play-btn span{
    font-family: "Work Sans",sans-serif;
    font-size: 12px;
    margin-left: 10px;
    text-transform: uppercase;
    color: #263a4f;
    font-weight: 600;
    letter-spacing: 0;
}
.feature-item{}
.feature-item i{
    font-size: 40px;
    color: #007bff;
    margin-bottom: 15px;
    display: block;
}
.title-features {
    font-weight: 600;
}