.cta-section{
    background-image: url(/call-to-action-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    
}
.cta-content{
    margin-top: 105px;
}
.cta-content h2{
    color: #fff;
}
.cta-content p{
    color: #ddd;
}
.cta-section .default-btn{
    color: #263a4f;
    background-color: #fff;
}
.cta-section .default-btn:hover{
    color: #263a4f;
    background-color: #fff;
}