.counter-section{}
.counter-wrap{} 
.section-heading{}
.section-heading h2{
    margin-bottom: 20px;
}
.section-heading p{
    margin-bottom: 20px;
}
.counter-content{}
.counter-content i{
    font-size: 40px;
    color: #007bff;
    margin-bottom: 15px;
    display: block;
}
.counter-content h2{
    font-size: 28px;
    margin-bottom: 0;
}
.counter-content h3{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    font-family: "Work Sans",sans-s
}
.counter-content p{ margin-bottom: 0; }