.sidebar-wrap .widget-content:not(:last-of-type){
    margin-bottom: 40px;
}
.sidebar-wrap .widget-content h4{
    position: relative;
    margin-bottom: 30px;
}
.sidebar-wrap .widget-content h4:before{
    background-color: #2550de;
    position: absolute;
    content: "";
    width: 20%;
    height: 3px;
    left: 0;
    bottom: -5px;
}
.sidebar-wrap .widget-content .widget-links li a:hover{
    text-decoration: underline;
}

.widget-content h4{
    font-weight: 600;
}