
.blog-single-wrap .comments-area {
    margin-top: 40px;
}

.blog-single-wrap .comments-area .comments {
    border-bottom: 0;
}
.blog-single-wrap .comments-area li > div {
    border-bottom: 1px solid rgba(17,17,17,0.05);
    padding: 35px;
}
.blog-single-wrap .comments-area ol {
    list-style-type: none;
    padding-left: 0;
}
.blog-single-wrap .comments-area ol ul {
    padding-left: 30px;
    list-style-type: none;
    margin: 0;
}
.blog-single-wrap .comments-area ol > li:last-child div {
    border-bottom: 0;
}
.blog-single-wrap .comments-area .comments-title{
    font-size: 22px;
    font-weight: 600;
}
.blog-single-wrap .comments-area li > div{
    position: relative;
}
.blog-single-wrap .comments-area .comment-thumb{
    position: absolute;
    left: 35px;
}
.blog-single-wrap .comments-area .comment-thumb .comment-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.blog-single-wrap .comments-area .comment-thumb .comment-img img{
    border-radius: 50%;
}
.blog-single-wrap .comments-area .comment-main-area{
    padding-left: 100px;
}
.blog-single-wrap .comments-area .comment-main-area p {
    margin-bottom: 20px;
}
.blog-single-wrap .comments-area .comments-meta h4{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -1px;
}
.blog-single-wrap .comments-area .comments-meta h4 span{
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    text-transform: none;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 5px;
}
.blog-single-wrap .comments-area .comment-reply-link {
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #2550de;
    display: inline-block;
    text-transform: uppercase;
    padding-left: 35px;
    position: relative;
}
.blog-single-wrap .comments-area .comment-reply-link:before{
    background-color: #2550de;
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    left: 0;
    top: calc(50% - 1px);
}
.blog-single-wrap .comments-area .comment-reply-link:hover{
    text-decoration: underline;
}