.form-control{
    background-color: #fff;
    border-radius: 0;
    padding: 15px 10px;
    box-shadow: none;
}
.form-control:focus{
    border-color: #2550de;
    box-shadow: none;
    outline: none;
}
#form-messages{
    display: none;
}
#form-messages.alert-danger,
#form-messages.alert-success{
    display: block;
}