.header-section{
    background-color: #fff;
    width: 100%;
    height: 80px;
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
}
.navbar-fixed-top.header-section{
    background-color: #fff;
    -moz-box-shadow: 0 2px 5px rgba(16,16,16,.08);
    -webkit-box-shadow: 0 2px 5px rgba(16,16,16,.08);
    box-shadow: 0 2px 5px rgba(16,16,16,.08);
    height: 80px;
    border-bottom: 0;
    padding: 0;
}
.navbar-fixed-top.header-section,
.header-section{
    transition: all 0.3s ease-in-out;
}
.navbar{
    border: medium none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin: 0;
    position: relative;
    padding: 0;
    height:80px;
}
.header-btn{ 
    margin-left: 10px;
    display: flex;
    align-items: center;
    height:80px;
}
.header-btn a{ margin-top: 0; }

/* Nav Menu */
ul.nav{}
ul.nav > li{
    position: relative;
}
ul.nav > li > a{
    color: #263a4f;
    font-family: 'Work Sans', sans-serif;
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 80px;
    z-index: 1;
}
ul.nav li.phone{
    font-size: 14px;
    font-family: "Poppins",sans-serif;
    color: #263a4f;
    font-weight: 600;
    line-height: 80px;
    padding-left: 50px;
}
ul.nav li.phone i{
    color: #2550de;
    margin-right: 5px;
}
ul.nav > li > a:hover,
ul.nav > li > a:focus,
ul.nav > li > a.active{
    background: none;
    color: #2550de;
    opacity: 1;
}
.menu-btn{
    margin-left: 10px;
    margin-top: 10px;
}

.navbar-fixed-top ul.nav > li > a{
    color: #263a4f;
}
.navbar-fixed-top ul.nav > li > a:hover,
.navbar-fixed-top ul.nav > li > a:focus,
.navbar-fixed-top ul.nav > li.active > a{
    color: #263a4f;
}

/*Dropdown Style
==================*/
#mainmenu li ul{
    background-color: #fff;
    width: 200px;
    height: auto;
    position: absolute;
    left: 0;
    top: 140%;
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 999;
}
#mainmenu li:hover > ul{
    visibility: visible;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    top: 100%;
}
#mainmenu li ul li{
    border-bottom: 1px solid #e5e5e5;
    display: block;
    position: relative;
    padding: 0;
}
#mainmenu li ul li:last-child{
    border: none;
}
#mainmenu li ul li a{
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 45px;
    display: block;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.2px;
    color: #8d9aa8;
    -webkit-transition: color 0.3s ease 0s, padding 0.3s ease 0s;
    transition: color 0.3s ease 0s, padding 0.3s ease 0s;
}
#mainmenu li > ul > li:hover a{
    background-color: #2550de;
    color: #fff;
}
#mainmenu li > ul ul{
    background-color: #fff;
    left: 200px;
}
#mainmenu li > ul li:hover > ul li a{
    color: #777;
}
#mainmenu li ul li:hover > ul{
    top: 0;
    opacity: 1;
    visibility: visible;
}
#mainmenu li > ul li:hover > ul li > a:hover{
    background-color: transparent;
    color: #fff;
}
#mainmenu li ul li li a:hover{
    color: #ffca3f !important;
}

/* Mobile Menu */
.slicknav_menu {
    background: none;
    padding: 4px 0;
    display:none;
    z-index: 999;
}
.slicknav_nav {
    background-color: #fff;
    font-size: 16px;
    padding: 20px 15px;
}
.js .slicknav_menu {
    width: 100%;
    position: absolute;
    right: 0;
    top: 76px;
}
.slicknav_btn{
    background-color: transparent;
    margin: -58px 0px 0px;
}
.slicknav_menu .slicknav_icon-bar {
    width: 25px;
    height: 5px;
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 2px 0 rgba(0,0,0,.5);
    box-shadow: 0 2px 0 rgba(0,0,0,.5);
}
.slicknav_nav .slicknav_row:hover,
.slicknav_nav .slicknav_row, 
.slicknav_nav a,
.slicknav_nav a:hover{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

.brand-logo {
    height:80px;
    display:flex;
    flex-direction:row;
    align-items: center;
}

.menu-wrap {
    height:80px;
}
.slicknav_nav .slicknav_row, 
.slicknav_nav a {
    padding: 10px 15px;
    margin: 0;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.slicknav_nav .slicknav_arrow {
    float: right;
}
.slicknav_nav a .caret{
    display: none;
}
.slicknav_nav ul{
    margin: 0;
}
.slicknav_nav ul li a{
    padding-left: 30px;
    font-size: 14px;
    color: #444;
}
.slicknav_nav .slicknav_row:hover,
.slicknav_nav a:hover{
    background-color: transparent;
    color: #333;
}
