

.header-btn a{ margin-top: 0; }

/* Nav Menu */
ul.nav{}
ul.nav > li{
    position: relative;
}
ul.nav > li > a{
    color: #263a4f;
    font-family: 'Work Sans', sans-serif;
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 80px;
    z-index: 1;
}
ul.nav li.phone{
    font-size: 14px;
    font-family: "Poppins",sans-serif;
    color: #263a4f;
    font-weight: 600;
    line-height: 80px;
    padding-left: 50px;
}
ul.nav li.phone i{
    color: #2550de;
    margin-right: 5px;
}
ul.nav > li > a:hover,
ul.nav > li > a:focus,
ul.nav > li > a.active{
    background: none;
    color: #2550de;
    opacity: 1;
}
.menu-btn{
    margin-left: 10px;
    margin-top: 10px;
}



