.pricing-section{}
.pricing-wrappper,
.pricing-wrap{
    display: flex;
    align-items: center;
}
.section-heading{}
.pricing-box{
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 50px 100px 0px rgba(61,1,4,0.1),0px -6px 0px 0px rgba(248,99,107,0.004);
    box-shadow: 0px 50px 100px 0px rgba(61,1,4,0.1),0px -6px 0px 0px rgba(248,99,107,0.004);
}
.pricing-head{}
.pricing-head span{
    text-transform: uppercase;
    font-size: 12px;
    color: #ff3465;
    font-weight: 600;
    letter-spacing: 0;
    font-family: "Work Sans",sans-serif;
}
.pricing-head h3{
    font-size: 55px;
}
.pricing-head h3 span{
    margin-left: 15px;
}
.pricing-head h4{
    margin-top: -15px;
}
.pricing-list{
    margin-top: 15px;
}
.pricing-list li{
    margin-bottom: 15px;
}
.pricing-list li i{
    color: #0abf53;
    font-size: 10px;
    margin-right: 10px;
}
.default-btn{
    margin-top: 18px;
}

/*Section Heading For Dark Background*/
.bg-dark .section-heading span{
    color: #ddd;
}
.bg-dark .section-heading h2{
    color: #fff;
}
/* Transition Effect */
a,a:hover, .overlay, img, .form-control,  .form-control:hover, button{
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.pricing-price {
    font-weight: 600;
}