.author-box{
    display: flex;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
    border-left: 4px solid #2550de;
}
.author-box img{
    border-radius: 50%;
}
.author-info{
    padding-left: 30px;
}
.author-info h3{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 5px;
}
.author-box .social-icon{}
.author-box .social-icon li{
    display: inline-block;
    margin-right: 8px;
}
.author-box .social-icon li a{
    font-size: 14px;
    color: #263a4f;
}
.author-box .social-icon li a:hover{
    color: #2550de;
}