.blog-thumb{}
.blog-thumb img{
    margin-bottom: 20px;
}
.blog-single-content{}
.blog-single-content h2 a{
    font-size: 28px;
    color: #263a4f;
}
.blog-single-content h2 a:hover{
    color: #2550de;
}
.single-post-meta{
    margin-bottom: 20px;
}
.single-post-meta li{
    display: inline-block;
    margin-right: 20px;
}
.single-post-meta li i{
    font-size: 12px;
    color: #2550de;
    margin-right: 5px;
}
.single-post-meta li a{
    display: inline-block;
    font-family: "Work Sans",sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #263a4f;
}

blockquote{
    background-color: #f5f5f5;
    padding: 40px;
    border-left: 4px solid #2550de;
    margin: 30px 0;
    position: relative;
    z-index: 1;
}
blockquote .dots{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(/bg-dots.png) 0 0 repeat;
    z-index: -1;
}
blockquote p{
    color: #263a4f;
    font-size: 20px;
    
}
blockquote span{
    display: block;
    margin-top: 20px;
    color: #263a4f;
}





.post-tags{
    margin-top: 30px;
}
.post-tags li{
    display: inline-block;
}
.post-tags li a{
    display: inline-block;
    background-color: #2550de;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    margin: 3px;
}
.post-tags li a:hover{
    background-color: #263a4f;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
